APP_NAME=LinkEdu
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://backendlinkededu-main-oied8k.free.laravel.cloud/
FRONTEND_URL=https://link-edu.vercel.app
LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

CACHE_STORE=file
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=none

SANCTUM_STATEFUL_DOMAINS=link-edu.vercel.app

QUEUE_CONNECTION=sync
MAIL_MAILER=smtp
MAIL_SCHEME=tls
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_smtp_username
MAIL_PASSWORD=your_smtp_password
MAIL_FROM_ADDRESS=no-reply@linkedu.com
MAIL_FROM_NAME="LinkEdu"
